
<h2 class="text-center">You don't have an account? <br> Add a new bridge</h2>

<div class="container">
  <div class="row justify-content-center">
    <!-- Hue Card -->
    <div class="col-sm-6 col-md-3 ">
      <div class="card" (click)="onRedirectToOAuthClick()">
        <img src="../../assets/hue.png" class="card-img-top" alt="Hue">
        <div class="card-body">
          <h5 class="card-title text-center">Login to Hue</h5>
        </div>
      </div>
    </div>
    <!-- Govee Card -->
    <div class="col-sm-6 col-md-3">
      <div class="card" >
        <img src="../../assets/govee.png" class="card-img-top" alt="Hue">
        <div class="card-body">
          <h5 class="card-title text-center">Login to Hue</h5>
        </div>
      </div>
    </div>
  </div>

</div>
