* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --dark: #181B1F;
  --grey: #2F3135;
  --logo-lighter-color: #FFC266;
  --logo-darker-color: #FF644A;
}

.bg-black {
  background-color: var(--dark) !important;
}
.bg-dark {
  background-color: var(--grey) !important;
}
.bg-dark:active {
  background: linear-gradient(90deg, #FFC266 , #FF644A 100%) !important;
}

.btn {
  background: linear-gradient(90deg, #FFC266 , #FF644A 100%) !important;
}


body {
  background: linear-gradient(180deg, #FFF 0%, #FF644A 100%), fixed;
  height: 100vh;
  width: 100vw;

}
